## Preprocess Data

Auther: kun wu

### Tokenize comment text
* tokenize
* remove stopwords
* stemming words

In [1]:
import os
import pandas as pd

BASE_DIR = '/home/kwu14/data/cs584_course_project/'

train_df = pd.read_csv(os.path.join(BASE_DIR, 'train.csv'))
train_df.dropna()

train_df.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47

In [2]:
from kwtokenizer import tokenize

vocab = []

def tokenize_comment_text(text):
    if pd.isna(text):
        return ''
    
    tokens = tokenize(text, no_stopwords=True, stem=True)
    vocab.extend(tokens)
    return ' '.join(tokens)
    

train_df['comment_text'] = train_df['comment_text'].apply(lambda x:tokenize_comment_text(x))

train_df.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,cool like would want mother read realli great ...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,thank would make life lot less anxietyinduc ke...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,urgent design problem kudo take impress,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,someth ill abl instal site releas,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha guy bunch loser,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47

#### Label the target value

In [3]:
train_df['target'] = train_df['target'].apply(lambda x: 1 if x > 0.5 else 0)

#### Save to file for future use

In [5]:
train_df.to_csv(os.path.join(BASE_DIR, 'preprocessed_train.csv'))